<app-todo-search-form
  [todoSearchForm]="searchForm">
</app-todo-search-form>

<app-todo-add-form
  [todoAddForm]="todoAddForm"
  (addTodo)="addTodo($event)"
>
</app-todo-add-form>

<div class="all-todos">

  <p>Uncompleted todos:</p>

  <app-todo
    class="uncompleted-todos"
    *ngFor="let todo of facade.uncompletedTodos$ | async; trackBy: todosTrackFn"
    [todo]="todo"
    (markComplete)="facade.toggleCompleted(todo.id, $event)"
    (remove)="facade.removeTodo($event)"
  ></app-todo>
</div>

<hr/>

<div class="all-todos">

  <p>Completed todos:</p>

  <app-todo
    class="completed-todos"
    *ngFor="let todo of facade.completedTodos$ | async; trackBy: todosTrackFn"
    [todo]="todo"
    (markComplete)="facade.toggleCompleted(todo.id, $event)"
    (remove)="facade.removeTodo($event)"
  ></app-todo>
</div>

